* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #000428, #004e92);
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header {
    font-size: 2rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}
form input {
    outline: none;
}
form button {
    color: #000428;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #000428;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.trash-btn,
.completed-btn {
    background: red;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.completed-btn {
    background: rgb(98, 243, 98);
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: scale(0);
    transition-duration: 0.7 5s;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: 004e92;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: '\25BC';
    position: absolute;
    background: #000428;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.5s ease;
}

.select:hover::after {
    background: white;
    color: #000428;
}

@media only screen and (max-width: 400px) {
    form {
        display: flex;
        flex-direction: column;
    }
    input {
        max-width: 60%;
    }
    .inputContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .todo-list {
        max-width: 90%;
    }
    .todo-button {
        margin: 0;
    }
}
